.footer{
    background-color: brown;
    color: yellow;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.footer h4{
    margin-right: 10px;
}

.footer .copyright{
    padding: 2px;
    font-size: 24px;
}