.navbar-menu{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: brown;
}

@media (max-width: 480px) {
    .navbar-menu h1{
        font-size: 18px;
    }
}
.navbar-menu h1{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: start;
    font-weight: bold;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}

.allbutcart a {
    text-transform: uppercase !important;
    font-size: 15px !important;
    color: yellow !important;
    letter-spacing: 1px !important;
    font-weight: bolder !important;
    text-decoration: none !important;
    margin-left: 10px;
}

.allbutcart a:hover{
    color: black !important;
    background-color: burlywood !important;
    border: 1px solid yellow;
    border-radius: 5px !important;
    font-size: 18px !important;
}
.cartDiv a {
    text-transform: uppercase !important;
    font-size: 30px !important;
    color: yellow !important;
    letter-spacing: 1px !important;
    font-weight: bolder !important;
    text-decoration: none !important;
    margin-left: 10px;
}

.cartDiv a:hover{
    color: black !important;
    background-color: burlywood !important;
    border: 1px solid yellow;
    border-radius: 5px !important;
    font-size: 34px !important;
}

.left-logo{
    display: flex;
    justify-content: flex-start;
}


.left-logo img{
    width: 50px;
    height: 68px;
}
.left-logo img:hover{
    width: 50px;
    height: 68px;
    transform: rotate(360deg);
    transition: transform 1.0s ease-in-out;
}

.cartDiv{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.cartLink{
    justify-content: right;
    text-align: end;
}


.user-info{
    border: 1px solid goldenrod;
    border-radius: 4px;
}

.cartDiv .badge{
    color: yellow;
    background-color: brown;
    border: 1px solid yellow;
    margin-right: 4px;
    padding: 5px !important;
}
.cartDiv .badge:hover{
    color: black;
    background-color: brown;
    border: 1px solid black;
}